<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Devices
    <small>List Devices</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Devices</li>
  </ol>
</section>

<section class="content">
  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Devices</h3>
    </div>
    <div class="box-body">
      <div class="list-group">
        <a ng-repeat="device in vm.devices" ui-sref="devices.view({ deviceId: device._id })" class="list-group-item">
          <small class="list-group-item-text">
            Posted on
            <span ng-bind="device.created | date:'mediumDate'"></span>
            by
            <span ng-if="device.user" ng-bind="device.user.displayName"></span>
            <span ng-if="!device.user">Deleted User</span>
          </small>
          <h4 class="list-group-item-heading" ng-bind="device.name"></h4>
        </a>
      </div>
    </div>
  </div>
</section>
